* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  scroll-padding-top: 120px;
  margin-top: 9rem; 
}

.dropdown-menu{
  overflow: visible !important;
}

.navbar .dropdown-menu {
  z-index: 1050; /* Ensure it appears above other content */
}

/*   Intro  */
.row
{
  padding-left: 10%;
  
}

/*   skills*/
 .card-header
{
  background-image:linear-gradient(to bottom right, #8ec5fc, #e0c3fc);
} 

.no-border-list .list-group-item
{
  border: none;
}
/* Education */

.edu-card {
  background-image:linear-gradient(to bottom right, #8ec5fc, #e0c3fc);
  border: 2px solid black;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* Project */
  .project-card{
    border: 2px solid#e0c3fc;
  background-image:linear-gradient(to bottom right, #8ec5fc, #e0c3fc);
  border-radius: 5px;
  }

  .card-text{
    text-align: justify;
  }
/* contact */

