* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  scroll-padding-top: 120px;
  margin-top: 9rem; 
}

.dropdown-menu{
  overflow: visible !important;
}

.navbar .dropdown-menu {
  z-index: 1050; /* Ensure it appears above other content */
}

/*   Intro  */
.row
{
  padding-left: 10%;
  
}

/*   skills*/
 .card-header
{
  background-image:linear-gradient(to bottom right, #8ec5fc, #e0c3fc);
} 

.no-border-list .list-group-item
{
  border: none;
}
/* Education */

.edu-card {
  background-image:linear-gradient(to bottom right, #8ec5fc, #e0c3fc);
  border: 2px solid black;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

/* projects */

.projects {
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 30px;
}
.projects h1 {
  padding-top: 70px;
  font-size: 50px;
  color: #101010;
  text-align: center;
}
.project {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding-top: 50px;
}
.project-details {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  gap: 30px;
  width: 100%;
  max-width: 70%;
  height: auto;
  background-image: linear-gradient(to bottom right, #8ec5fc, #e0c3fc);
  border-radius: 10px;
  align-items: center;
}
.project .details {
  justify-content: left;
}
.project .details h3 {
  line-height: 50px;
}

.project-details img {
  width: 80px;
  height: 80px;
  padding-left: 20px;
}

.projects .details p,
.projects .details h3 {
  font-size: 20px;
}
.projects .details p {
  text-align: justify;
}

.portfolio-link {
  line-height: 30px;
  text-decoration: none;
  font-size: 20px;
}
.portfolio-link:hover {
  text-decoration: underline;
  color: rgb(44, 28, 223);
}

/* contact */

.contact {
  margin: 100px 80px 30px;
  padding-bottom: 30px;
}

.contact h1 {
  padding-top: 70px;
  font-size: 50px;
  color: #101010;
  text-align: center;
}

.contact .content {
  align-items: center;
  gap: 50px;
  padding-top: 50px;
  display: flex;
  margin-left: 30px;
}
.content #contact-img {
  width: 100%;
  max-width: 700px;
  height: 500px;
}

.contact .form {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}
/*
.contact .form label {
  font-size: 18px;
  font-family: sans-serif;
}

.contact .form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.contact .form button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #101010;
  color: #fff;
  cursor: pointer;
}

.contact .form button:hover {
  background-color: #0b762d;
  box-shadow: 0px 0px 25px green;
  font-size: 20px;
}

.contact #message {
  height: 70px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}*/

.contact-info-upper-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container,
.contact-phone-number {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p,
.contact-phone-number p {
  font-size: 18px;
}
.contact-info-container a {
  text-decoration: none;
  color: black;
}
.contact-info-container a:hover {
  color: blue;
}

.contact-icon {
  cursor: default;
  height: 2rem;
}

.email-icon,
.icon-phonenumber {
  height: 2rem;
}

/* footer*/

.footer {
  height: 100px;
  width: auto;
  background-image: linear-gradient(to bottom right, #8ec5fc, #e0c3fc);
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
}
